* {
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
	color: #fff;
}
body {
	font-family: Arial;
}
ul {
	list-style-type: none;
}

.panel-wrapper {
    
}
.panel-left {
    float: left;
    padding: 50px 0px;
}
.panel-right {
    float: right;
    padding: 50px 0px;
}

/* Za brisanje X-a u polju za pretragu */
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}
/* Za promenu boje placeholder-a */
::-webkit-input-placeholder {
    color: #333;
}
:-moz-placeholder {
   color: #333;
   opacity: 1;
}
::-moz-placeholder {
	color: #333;
   opacity:  1;
}
:-ms-input-placeholder {
   color: #333;
}
.cart {
	font-size: 20px;
}
.hover {
	background-color: #006666;
}
/* Header */
header {
	width: 100%;
	height: 40px;
	background-color: #218c8d;
	border-bottom: 1px solid orange;
	font-size: 15px;
}
#header {
	width: 1200px;
	height: 40px;
	margin: 0 auto;
}
#header-logo {
	height: 40px;
	width: 170px;
	float: left;
}
#logo {
	font-family: Arial;
	font-size: 2em;
	font-style: italic;
	color: #fff;
	padding: 0px 28px;
	line-height: 40px;
}
#header-logo img {
	height: 40px;
	width: 120px;
}
/* Navigation menu */
nav {
	height: 40px;
	width: auto;
	float: left;
}
.nav-wrapper ul li a {
    padding: 11px 22px !important;
}
.nav-wrapper ul li ul {
    background-color: teal;
	color: #fff;
    border-top: 1px solid orange;
}
.nav-wrapper ul li ul li {
    border-bottom: 1px solid orange;
}
.nav-wrapper ul li:hover {
    background-color: #006666;
}
.login-link {
	height: 40px;
	width: auto;
	line-height: 40px;
	float: left;
}
.login-link-avatar {
	width: 30px;
	height: 40px;
	float: left;
}
.login-link-avatar img {
	width: 24px;
	height: 24px;
	float: left;
	margin: 8px 3px 8px 5px;
}
.login-link-username {
	float: left;
}
.login-link a {
	padding: 11px 15px;
}
.login-link-username a {
	padding: 0px;
	padding: 0px 5px;
	float: left;
}
#header-search {
	height: 40px;
	width: auto;
	float: right;
}
#header-search form {
	display: inline-block;
	padding: 10px 0px;
}
#tbSearch {
	height: 20px;
	width: 180px;
	float: left;
	border: 0;
	padding: 2px 4px;
	background-color: white;
	font-size: 15px;
}
#tbSearch:focus {
	outline: none;
}
#btnSearch {
	width: 30px;
	height: 20px;
	float: left;
	border: 0;
	background-color: #fff;
	color: #000;
	font-size: 14px;
	cursor: pointer;
}
#header-login {
	height: 40px;
	width: auto;
	float: right;
	margin-left: 10px;
}
/* Image */
#slider-wrapper {
	height: 500px;
	width: 100%;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ef7126;
}
#image {
	height: 500px;
	max-width: 2000px;
	margin: 0 auto;
	background-image: url(../images/dthero.jpg);
	background-size: cover;
}
/* Main */
main {
	height: auto;
	max-width: 2000px;
	margin: 0 auto;
}
#welcome {
	width: 1200px;
	height: auto;
	overflow: auto;
	margin: 0 auto;
	padding: 20px 0px;
}
	/* Login css */
#main-login {
	width: 100%;
	height: 100vh;
	overflow: auto;
	margin: 0 auto;
	background-color: #f0f0f0;
}
#login-wrap {
	padding: 50px 0px;
    text-align: center;
}
#main-login table {
	margin: 0 auto;
}
.tbInput {
	padding: 2px 5px;
	margin: 5px 0px;
	height: 25px;
	line-height: 20px;
	font-size: 1em;
	width: 300px;
	border-radius: 2px;
	border: 1px solid #ccc;
}
#login-new {
	margin: 10px 0px;
}
#login-new a {
	color: #333;
	font-weight: bold;
	padding: 5px;
}
.error {
	color: red;
}
.left {
	float: left;
}
#btnLogin {
	padding: 5px 5px;
	margin: 5px 0px;
	background-color: teal;
	color: #fff;
	outline: none;
	cursor: pointer;
	line-height: 20px;
	border-radius: 2px;
	width: 312px;
	border: 1px solid teal;
	font-size: 1em;
}
.btnLogin {
    float: left;
	padding: 5px 5px;
	margin: 5px 3px;
	background-color: teal;
	color: #fff;
	outline: none;
	cursor: pointer;
	line-height: 20px;
	border-radius: 2px;
	width: 312px;
	border: 1px solid teal;
	font-size: 1em;
}
#form-register table tbody tr td table tbody tr td input[type="submit"] {
    width: 590px;
    height: 28px;
    background-color: teal;
    outline: none;
    cursor: pointer;
    line-height: 28px;
    font-size: 1em;
    color: #fff;
    border: 1px solid teal;
}
.da {
    width: 200px !important;
}
.ne {
    width: 200px !important;
    background-color: crimson !important;
    border: 1px solid crimson !important;
}
	/* Register css */
#main-register {
	width: 100%;
	height: 100vh;
	overflow: auto;
	background-color: #f0f0f0;
}
#register-wrapper {
	width: 1200px;
	height: auto;
	margin: 0 auto;
	overflow: auto;
}
#form-register-wrapper {
	width: 600px;
	height: auto;
	overflow: auto;
	margin: 20px 180px;
}
#form-register h1 {
	font-style: normal; 
	color: orange; 
	font-size: 2.5em; 
	padding-bottom: 10px; 
	padding-left: 0px;
}
#form-register h1 a {
	color: orange;
}
#form-register h2 {
	font-weight: normal;
	padding-bottom: 10px;
}
.input-small {
	width: 270px;
	padding: 4px 8px;
	height: 20px;
	font-size: 1em;
}
.input-large {
	width: 570px;
	padding: 4px 8px;
	height: 20px;
	font-size: 1em;
}
.row-input-large {
	width: 600px;
	float: left;
	margin: 3px 0px;
}
.row-input-small {
	width: 300px;
	float: left;
	margin: 3px 0px;
}
.select-3 {
	width: 193px;
	height: 30px;
	font-size: 1em;
}
.select-1 {
	width: 590px;
	height: 30px;
	font-size: 1em;
}
.space {
	margin-bottom: 12px;
}
#btnRegister {
	width: 590px;
	height: 28px;
	background-color: teal;
	outline: none;
	cursor: pointer;
	line-height: 28px;
	font-size: 1em;
	color: #fff;
	border: 1px solid teal;
}
	/* Author css */
#main-author-wrapper {
	width: 100%;
	height: auto;
	overflow: auto;
}
#main-author {
	width: 1200px;
	margin: 0 auto;
	height: auto;
	overflow: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
#author-desc {
	width: 700px;
	height: auto;
	float: left;
	margin: 0px 0px 0px 30px;
}
#author-desc p {
	padding: 80px 30px 20px 30px;
}
#author-desc i {
	color: #333;
	font-weight: bold;
}
#author-image {
	width: 330px;
	float: right;
	margin: 20px 0px 40px 0px;
}
#author-image img {
	width: 200px;
	height: auto;
}
	/* Contact css */
#main-contact-wrapper {
	width: 100%;
	height: auto;
	overflow: auto;
}
#main-contact {
	width: 1200px;
	margin: 0 auto;
	height: auto;
	overflow: auto;
	margin-top: 40px;
	margin-bottom: 20px;
}
#contact-form {
	width: 500px;
	height: 400px;
	margin: 10px 50px 50px 100px;
	float: left;
	overflow: auto;
}
#contact-form h2 {
	margin-bottom: 10px;
}
#contact-form form {
	width: 300px;
}
#taMessage {
	resize: none;
	font-family: Arial;
}
.label-padding {
    padding: 8px 0px;
}
.taMessage {
    width: 288px;
    height: 92px;
    resize: none;
	font-family: Arial;
}
#btnSend {
	width: 290px;
	height: 28px;
	background-color: orange;
	outline: none;
	cursor: pointer;
	line-height: 28px;
	font-size: 1em;
	color: #fff;
	border: 1px solid orange;
}
.btnSend {
    width: 290px;
	height: 28px;
	background-color: orange;
	outline: none;
	cursor: pointer;
	line-height: 28px;
	font-size: 1em;
	color: #fff;
	border: 1px solid orange;
}
.btnUpload {
    width: 200px;
	height: 28px;
	background-color: #333;
	outline: none;
	cursor: pointer;
	line-height: 28px;
	font-size: 1em;
	color: #fff;
	border: 1px solid #333;
}
#contact-information {
	width: auto;
	height: auto;
	float: right;
	padding: 30px 40px 40px 40px;
	background-color: #f0f0f0;
	border-radius: 5px;
	margin: 50px 50px;
}
#contact-information h3 {
	margin-bottom: 10px;
}
.row-information {
	height: auto;
	width: auto;
	overflow: auto;
}
.row-information-large {
	width: auto;
	height: auto;
	float: left;
}
.row-information-small {
	width: 100px;
	height: auto;
	padding: 0px 30px 0px 5px;
	float: left;
}
.color {
	color: teal;
	font-weight: bold;
}
	/* Prikaz css */
#main-artikli-wrapper {
	width: 100%;
	height: auto;
	overflow: auto;
}
#main-artikli {
	width: 1200px;
	height: auto;
	margin: 0 auto;
	overflow: auto;
}
#artikli-lista {
	width: 800px;
	height: auto;
	float: left;
	overflow: auto;
}
#artikli-lista h2 {
	padding: 20px 20px 10px 20px;
}
.pagination {
	width: 750px;
	height: 28px;
	color: #333;
	overflow: auto;
}
.center {
	width: auto;
	margin: 0 auto;
}
.pagination a {
	color: #333;
	font-weight: bold;
	padding: 5px 15px;
	font-size: 1.2em;
}
.curs {
	cursor: default;
}
.prikaz-row {
	width: 750px;
	height: 712px;
	overflow: auto;
	margin-top: 10px;
	margin-left: 40px;
	margin-bottom: 40px;
}
.prikaz-item-wrapper {
	width: 180px;
	height: 250px;
	margin: 20px 25px 30px 25px;
	background-color: #f0f0f0;
	border: 1px solid #bfbfbf;
	border-radius: 10px 0px;
	padding: 20px 0px;
	float: left;
}
.prikaz-item {
	width: 180px;
	height: 200px;
	padding: 2px 0px 5px 0px;
}
.prikaz-item a {
	color: #00467e;
}
.prikaz-item img {
	display: block;
	max-width: 180px;
	height: 180px;
	margin: 0 auto;
}
.prikaz-item h4 {
	text-align: center;
	margin: 5px 0px;
}
.prikaz-cart {
	width: 180px;
	height: 40px;
}
.prikaz-cart a {
	color: #00467e;
}
.prikaz-cart p {
	padding-bottom: 5px;
}
.prikaz-cart p a {
	color: orange;
	font-weight: bold;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
	padding-right: 15px;
}
#artikli-desc {
	width: 300px;
	height: 450px;
	background-color: gray;
	border-radius: 10px 10px;
	margin: 80px 40px 40px 40px;
	float: right;
}
#artikli-desc h3 {
	color: #fff;
	text-align: center;
	margin: 15px 0px;
}
#desc-prikaz {
	width: 280px;
	height: 380px;
	margin: 0px 10px;
	color: #fff;
}
#desc-prikaz img {
	max-width: 200px;
	height: 180px;
	display: block;
	margin: 0 auto;
}
#desc-prikaz h4 {
	text-align: center;
	color: orange;
	padding: 4px 0px;
}
#desc-prikaz p {
	font-size: 14px;
}
	/* Panel css */
#main-panel-wrapper {
	width: 100%;
	height: auto;
}
#main-panel {
	width: 1200px;
	height: auto;
	margin: 0 auto;
	overflow: auto;
}
#panel-proizvodi {
	width: 600px;
	height: auto;
	float: left;
}
#panel-izmena {
	width: 300px;
	height: auto;
	float: left;
}
#panel-korisnici {
	width: 600px;
	height: auto;
	float: left;
}
#korisnici-izmena {
	width: 600px;
	height: auto;
	float: left;
}
#korisnici-izmena table {
	margin: 10px 0px;
}
#korisnici-izmena table td {
	text-align: center;
	padding: 2px;
}
#korisnici-izmena table td a {
	color: purple;
}
#korisnici-izmena table th {
	text-align: center;
	padding: 2px;
}
#btnDelete {
	padding: 2px 15px;
	margin: 2px 0px;
	background-color: teal;
	color: #fff;
	outline: none;
	cursor: pointer;
	line-height: 20px;
	border: 1px solid teal;
	font-size: 1em;
}
#korisnik-edit {
	width: 600px;
	height: auto;
	float: left;
	margin: 5px 0px;
}
#btnEdit {
	padding: 2px 15px;
	margin: 10px 20px;
	background-color: teal;
	color: #fff;
	outline: none;
	cursor: pointer;
	line-height: 20px;
	border: 1px solid teal;
	font-size: 1em;
}
.panel-3 {
	width: 300px;
	height: 650px;
	float: left;
}
.panel-3 h3 {
	text-align: left;
	padding: 10px;
}
.form-3 {
	float: left;
}
#taDetalji {
	resize: none;
}
.dugme {
	padding: 5px 20px;
	background-color: teal;
	border: 0;
	color: #fff;
	cursor: pointer;
}
	/* Gallery css */
.total-width {
    width: 100%;
}
.site-width {
    width: 1200px;
}
.middle {
    margin: 0 auto;
}


#gallery-main-wrapper {

}


#gallery-main-top {

}
#gallery-main-top-title {
    margin: 15px 0px 5px 0px;
}
#gallery-main-top-pick {
    text-align: right;
    margin: 7px 0px;
}


#gallery-main-ribbon-wrapper {
    background-color: #d9d9d9;
}
#gallery-main-ribbon {
    height: 250px;
}
#gallery-main-ribbon-left {
    width: 450px;
    height: 310px;
    position: absolute;
    margin-top: -30px;
}
#img-outter {
    width: 450px;
    height: 305px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding-top: 5px;
    background: rgba(33, 140, 141, 0.8);
}
#img-outter strong {
    display: block;
    color: #fff;
    text-align: center;
    margin-top: 8px;
}
#img-inner {
    width: 440px;
    height: 270px;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    margin-left: 5px;
}
#img-inner img {
    width: 420px;
    height: 250px;
    margin-top: 10px;
}
#gallery-main-ribbon-right {
    width: 670px;
    padding: 30px 40px 20px 40px;
    height: 200px;
    float: right;
}

#gallery-main-bottom-wrapper {
    
}
#gallery-main-bottom {
    height: 500px;
    margin-top: 40px;
}
#gallery-main-bottom-left {
    margin-top: 20px;
    width: 880px;
    float: left;
}
#gallery-main-bottom-right {
    width: 320px;
    text-align: center;
    margin-top: 30px;
    float: right;
}
#gallery-main-bottom-right select {
    width: 193px;
	height: 23px;
	font-size: 1em;
}
.hideme {
    height: 10px;
}
.image-wrapper {
    width: 160px;
    height: 160px;
    border-radius: 2px;
    background-color: #333;
    margin-top: 5px;
    margin-left: 10px;
    float: left;
}
.image-wrapper img {
    margin-top: 5px;
    margin-left: 5px;
}

/* Old */
#main-gallery-wrapper {
	width: 100%;
	height: auto;
	overflow: auto;
}
#main-gallery {
	width: 1200px;
	height: auto;
	overflow: auto;
	margin: 0 auto;
	padding: 10px 0px;
}
#gallery-left {
	width: 600px;
	height: auto;
	margin-bottom: 50px;
	float: left;
	overflow: auto;
}
#image-one {
	width: 590px;
	min-height: 400px;
}
#image-one img {
	max-width: 590px;
	height: auto;
	display: block;
	margin: 0 auto;
}
#image-comment {
	margin: 2px 0px;
	width: 590px;
	height: 50px;
	color: #000;
	line-height: 50px;
}
#image-comment a {
	color: #000;
	text-decoration: underline;
	padding-left: 20px;
}
.input-comment {
	width: 460px;
	padding: 4px 8px;
	height: 20px;
	font-size: 1em;
}
#comments-wrapper {
	height: auto;
	width: 590px;
	overflow: auto;
	margin: 5px 0px 20px 0px;
	background-color: #a6a6a6;
}
.comment-wrapper {
	float: left;
	width: 575px;
	height: auto;
	margin: 5px 5px 5px 5px;
	border: 1px solid #bfbfbf;
	background-color: #f0f0f0;
}
.comment-username {
	float: left;
	margin: 5px 5px;
	padding: 0px 0px;
	width: 565px;
	height: auto;
}
.comment-username i {
	color: #0033cc;
	font-weight: bold;
	font-style: normal;
}
.comment-text {
	margin: 2px 5px 5px 5px;
	float: left;
	width: 565px;
	height: auto;
}
#btnComment {
	padding: 5px 10px;
	margin: 0px 5px;
	background-color: teal;
	color: #fff;
	outline: none;
	cursor: pointer;
	line-height: 20px;
	border: 1px solid teal;
	font-size: 1em;
}
#gallery-right {
	width: 600px;
	height: auto;
	float: left;
}
#image-many {
	width: 600px;
	height: 400px;
}
.many-row {
	width: 600px;
	height: 400px;
}
.many-img {
	width: 100px;
	height: 100px;
	float: left;
}
.many-img img {
	width: 96px;
	height: 96px;
}
#poll-wrapper {
	width: 400px;
	height: auto;
	float: right;
	margin-top: 20px;
	background-color: #ffebcc;
	padding: 10px 0px;
}
#poll-wrapper h5 {
	margin: 20px 0px;
}
#poll-wrapper form {
	width: 200px;
	margin: 0 auto;
}
#poll-wrapper p {
	padding: 0px 10px;
}
#btnVote {
	padding: 5px 15px;
	margin: 0px 5px;
	background-color: teal;
	color: #fff;
	outline: none;
	cursor: pointer;
	line-height: 20px;
	border: 1px solid teal;
	font-size: 1em;
}
	/* Cart css */
#main-cart-wrapper {
	width: 100%;
	height: auto;
	overflow: auto;
	background-color: #f0f0f0;
}
#main-cart {
	width: 1200px;
	height: auto;
	margin: 0 auto;
	overflow: auto;
}
#cart-left {
	width: 650px;
	height: auto;
	overflow: auto;
	margin-bottom: 30px;
	float: left;
}
#left-product-wrapper {
	width: 650px;
	height: auto;
	float: left;
	margin-top: 15px;
}
#left-product-wrapper h2 {
	margin: 0px 0px 10px 0px;
	color: #333;
}
.row-product {
	width: 650px;
	height: 120px;
	margin-bottom: 5px;
	float: left;
	background-color: #ccc;
}
.product-image {
	width: 140px;
	height: 120px;
	float: left;
}
.product-image img {
	width: auto;
	height: 100px;
	margin: 10px 20px;
}
.product-name {
	width: 250px;
	height: 120px;
	float: left;
}
.product-name  p {
	margin: 20px 0px;
}
.product-category {
	width: 100px;
	height: 120px;
	float: left;
}
.product-category p {
	margin: 50px 0px;
}
.product-price {
	width: 140px;
	height: 120px;
	float: right;
}
.product-price p {
	margin: 41px 20px 0px 30px;
	text-align: right;
}
#left-subtotal {
	width: 650px;
	height: 120px;
	margin: 0px 0px 5px 0px;
	overflow: auto;
	float: left;
	background-color: #ccc;
}
#subtotal-left {
	width: 450px;
	float: left;
	text-align: right;
	margin: 20px 0px 5px 0px;
}
#subtotal-right {
	width: 200px;
	float: left;
	text-align: left;
	margin: 20px 0px 5px 0px;
}
#subtotal-right p {
	margin-right: 20px;
	text-align: right;
}
#left-subtotal hr {
	width: 610px;
	color: #fff;
	float: left;
	margin-left: 20px;
	background-color: #fff;
	height: 1px; 
	border: 0;
}
#btnBuy {
	float: right;
	padding: 8px 20px;
	border: 0;
	color: #fff;
	margin: 10px 20px 0px 0px;
	background-color: teal;
}
.btnBuy {
    float: right;
	padding: 8px 20px;
	border: 0;
	color: #fff;
	margin: 10px 20px 0px 0px;
	background-color: teal;
}
#continue-shopping {
	width: 650px;
	height: 40px;
	float: left;
	margin-bottom: 10px;
}
#continue-shopping a {
	padding: 8px 20px;
	background-color: orange;
	float: left;
}
#cart-right {
	width: 400px;
	height: auto;
	float: left;
	overflow: auto;
}
	/* Profile css */
#main-profile-wrapper {
	width: 100%;
	height: auto;
	background-color: #fff;
	overflow: auto;
}
#main-profile {
	width: 800px;
	height: auto;
	margin: 0 auto;
	overflow: auto;
}
#profile-data {
	width: 800px;
	height: auto;
	float: left;
	margin: 10px 0px;
}
#profile-error {
	margin: 5px 0px 50px 0px;
}
#btnUpdate {
	padding: 8px 40px;
	border: 0;
	color: #fff;
	margin: 10px 0px;
	background-color: orange;
}
#gallery-main-top-pick input[type="submit"] {
    padding: 4px 20px;
    border-radius: 2px;
	border: 0;
	color: #fff;
	background-color: orange;
}
#gallery-main-top-pick select {
    width: 193px;
	height: 23px;
	font-size: 1em;
}
	/**/
#welcome p {
	padding: 10px 25px;
}
.row-wrapper {
	width: 100%;
	height: auto;
	overflow: auto;
	background-color: #fff;
	margin: 0 auto;
	margin-bottom: 50px;
}
.row {
	width: 1200px;
	height: auto;
	overflow: auto;
	padding: 20px 0px;
	margin: 0 auto;
}
.item {
	width: 250px;
	height: 230px;
	margin: 0px 25px;
	background-color: #ccc;
	float: left;
}
.item a {
	color: #333;
}
.item img {
	width: 250px;
	height: 150px;
}
.item h4, .item p {
	text-align: center;
	padding: 5px 0px;
}
.item h4 {
	font-size: 1.2em;
}
.item p {
	font-size: 0.9em;
}
/* Footer */
footer {
	width: 100%;
	height: auto;
	overflow: auto;
	background-color: #e6e6e6;
	border-top: 1px solid #ef7126;
}
footer a {
	color: #333333;
}
#footer {
	width: 1200px;
	height: 110px;
	margin: 0 auto;
	color: #000;
}
#copy {
	width: 100%;
	height: auto;
	float: left;
	background-color: #e6e6e6;
	margin-bottom: 15px;
	color: #333333;
}
#copy strong {
	color: teal;
	font-size: 1.3em;
}
.column {
	height: 100px;
	width: 150px;
	float: left;
	padding: 10px 0px 0px 0px;
}
#power {
	height: 110px;
	width: 750px;
	padding: 10px 0px 0px 0px;
	float: right;
}
.ul-title {
	font-size: 18px;
}
#php {
	width: 100px;
	height: 100px;
	margin-left: 40px;
}
#mysql {
	width: 200px;
	height: 100px;
	margin-left: 40px;
}
#npp {
	width: auto;
	height: 100px;
	margin-left: 40px;
}
.green {
    color: green;
}