*{margin:0px;padding:0px;}
a:visited,a:link{text-decoration:none;color:#0095FF;}
body{background-image:url("slike/savana.jpg");background-size:1450px 920px;
	background-repeat:no-repeat;background-color:#000;}
#omot{width:1000px;margin:0 auto;}
	#header{width:330px;height:28px;float:right;background-color:#;}
		#logo{width:29px;float:left;}
		#login{width:300px;}
		#login ul{list-style-type:none;margin:0px;padding:0px;}
		#login li{float:left;}
		#login a{display:block;width:30px;margin:4px 30px 1px 30px;text-decoration:none;}
	#razmak1{width:1000px;clear:both;}
	#meni{width:1000px;height:100px;}
		#gornji{width:1000px;height:70px;}
			#gornji h1{display:block;width:200px;margin:20px 1px 1px 70px;
			float:left;font-size:35px;}
			#text{margin:30px 1px 5px 400px;width:200px;}
			#submit{margin:30px 1px 5px 5px;width:60px;}
		#donji{width:870px;height:30px;background-color:#FFF;margin-left:70px;}
			#donji ul{list-style-type:none;margin:0px;padding:0px;}
			#donji li{float:left;}
			#donji a{display:block;margin:5px 1px 1px 100px;width:100px;text-decoration:none;}
	#razmak2{width:1000px;}
	#sadrzaj{width:1000px;height:740px;}
		#skocko{width:350px;height:370px;padding:20px;
			border:5px solid #525e67;z-index:900;background-color:#FFF;
			box-shadow:#000 0px 0px 20px;background:#000;color:#0095FF;
			position:absolute;margin:90px 20px 20px 300px;}
		#skocko h1{color:#FFF;}
			#loginlogo{float:left;}
				#skocko h1{display:block;width:220px;float:left;padding:20px 1px 1px 10px;}
				#skocko p{margin:20px 1px 2px 7px;}
				#skocko a{text-decoration:none;}
			#logincisti{clear:both;}
				.lozinka{width:250px;height:20px;margin-left:7px;}
				#loginsub{margin:25px 1px 1px 7px;width:70px;height:25px;}
				#logincheck{margin:1px 1px 1px 100px;}
			.box{width:250px;height:340px;border:2px solid #000;background-color:#FCF4DC;}
			.box p{padding:3px 10px 5px 5px;text-align:justify;}
			.box img{width:250px;height:200px;}
	#red1{width:1000px;height:340px;}
		#celija1{width:250px;height:340px;border:1px solid #CCC;float:left;margin:20px 20px 0px 95px;}
		#celija2{width:250px;height:340px;border:1px solid #CCC;float:left;margin:20px 0px 0px 5px;}
		#celija3{width:250px;height:340px;border:1px solid #CCC;float:right;margin:20px 100px 0px 0px;}
	#red2{width:1000px;height:340px;}
		#celija4{width:250px;height:340px;border:1px solid #CCC;float:left;margin:20px 20px 0px 95px;}
		#celija5{width:250px;height:340px;border:1px solid #CCC;float:left;margin:20px 0px 0px 5px;}
		#celija6{width:250px;height:340px;;border:1px solid #CCC;float:right;margin:20px 100px 0px 0px;}
	#razmak3{width:1000px;height:50px;}
	#footer{height:150px;}
		#social{height:150px;width:120px;float:left;}
			#donjilogo{margin:20px 1px 1px 15px;}
			#iconface{margin:5px 1px 1px 30px;}
		#footerdesni{height:150px;width:800px;float:left;}
			#lista1{float:left;height:140px;width:150px;}
				#lista1 p{margin:20px 1px 1px 10px;color:#FFF;}
				#lista1 hr{margin: 1px 1px 1px 10px;}
				#lista1 ul{list-style-type:none;margin:1px 1px 1px 10px;}
				#lista1 li{margin-top:5px;}
				#lista1 a{text-decoration:none;}
			#lista2{float:left;height:140px;width:150px;}
				#lista2 p{margin:20px 1px 1px 10px;color:#FFF;}
				#lista2 hr{margin: 1px 1px 1px 10px;}
				#lista2 ul{list-style-type:none;margin:1px 1px 1px 10px;}
				#lista2 li{margin-top:5px;}
				#lista2 a{text-decoration:none;}
		#prava{width:1000px;height:50px;float:left;}
		#prava p{text-align:center;margin-top:10px;color:#FFF;}